<% @recipe.each do |recipe| %>
<div>
  <%= link_to recipe_path(recipe.id) do %>
    <%= image_tag recipe.get_image %>
  <p>レシピ名: <%= recipe.title %></p>
  <p>ユーザー名:<%= recipe.customer.nickname %></p>
  <% end %>
</div>
<% end %>